
.vscode/settings.json
.vs/PDBASER/v16/.suo
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
GUI/EXPERIMENTAL/__pycache__/pdbExtractor.cpython-36.pyc
GUI/Source/__pycache__/get_Chain.cpython-36.pyc
GUI/Source/__pycache__/get_Residue.cpython-36.pyc
GUI/Source/__pycache__/pdbExtractor.cpython-36.pyc
/GUI/Build/PDBaser_GUI.build/
/GUI/Build/PDBaser_GUI.dist/
/GUI/Build/.idea/
/GUI/Build/.vs/
/GUI/Build/.vscode/
/GUI/Build/__pycache__/
/GUI/Build/oasa3-lib/
/GUI/Build/UI_backups/
/GUI/Build/PDBaser_GUI.py.egg-info/
/GUI/Build/PDBaser_GUI.dist-bak/
/GUI/Build/PDBaser_GUI.build-bak/
/GUI/Build/pdbaser.build/
/GUI/Build/exp/
/GUI/Build/cli_py/
/GUI/Build/obabel_py38/
/GUI/Build/obabel_py36/
/GUI/Build/pdbaser.dist/
